@page "/SobreMim"

<PageTitle>Sobre Mim</PageTitle>

    <div class="container">
    <h1>Sobre Mim</h1>

      <img src="Eu.jpeg" alt="Minha Foto" class="" style="width: 150px; height: 150px; border-radius: 50%;">
        <p>Olá! Meu nome é Viviane, sou Estudante do Instituto Federal de Rondônia, do campus Ji-Paraná.</p>
       <p> Sou uma pessoa ansiosa, intensa e alegre</p> 
          <p>Tenho 16 anos de idade.</p>
        <p>Gosto de aprender coisas novas, resolver problemas e criar soluções criativas.</p>
       <p> Adoro Historias</p>
        <p> FÃ de Aventura</p>
    </div>

    

